<section>
    <nav class = "breadcrumb">
        <ul class = "breadcrumb-wrapper">
            <li class = "breadcrumb-item">
                <a class = "pn">
                    <span class = "pmName">
                        <img class = "smalllogo" src = "https://www.dndbeyond.com/content/1-0-1888-0/skins/waterdeep/images/dnd-beyond-b-red.png">
                    </span>
                </a>
            </li>
            <li class = "breadcrumb-item">
                <a class = "pm">
                    <span class = "pmName">Changelog</span>
                </a>
            </li>
        </ul>
    </nav>
</section>