.content1{
    margin-top: 15px;
}

.page-header_extra{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.page-header{
    padding: 0 10px;
    margin: 0 auto;
}

.page-title{
    font-size: 36px;
    color: #242527;
    z-index: 5;
    padding: 0!important;
    line-height: 1.3;
    font-weight: bold;

}

.page-heading{
    border-bottom:3px solid #1b9af0;
    padding-bottom: 8px;
    padding-top: 16px;

}

.page-header_primary{
    position: relative;
    z-index: 2;
}

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px!important;
}

.single-column #content{
    padding:15px 10px !important;
}

.page-header{
    padding: 10px;
    max-width: 1200px !important;
}