<header class = "page-header">
    <div class = "page-header_extra">
        <div class = "page-header_extra content1">
            <app-pathway></app-pathway>
        </div>
    </div>
    <div class = "page-header_primary">
        <div class = "page-heading">
            <div>
                <h1 class = "page-title">Private Messages</h1>
            </div>
        </div>
    </div>
</header>
<div class = "container">
    <div id = "content" class = "main content-container">
        <section class = "primary-content" role = "main">
            <header><app-function></app-function></header>
            <div><app-filters></app-filters></div>
            <div><app-inbox></app-inbox></div>
        </section>
    </div>
</div>