.sitebar{
    height:64px;
    position:static;
    background-color:black;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(27,154,240);
    box-shadow:0 3px 6px rgb(0 0 0 / 25%);
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height:64px;
    max-width:1200px;
    font-size: 13px;
    font-family: Roboto,Helvetica,sans-serif;
}

img{
    height: 40px;
    width: 150px;
    margin:0 auto 10px;
    background-size: contain;
}

.topbar-interactions-groups{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    display: flex;
}  

.search1{
    display:flex;
}

.icon1{
    background-size: 24;
    display: inline-block;
    background-position: center;
    color:grey;
}

.form-control{
    border: none;
}

.links-list{
    align-items: center;
    padding: 0 20px;
    box-sizing: inherit;
    list-style: none;
}

.link-item{
    box-sizing: inherit;
    margin-left:20px;
}

.user{
    border-left: 1px solid #262629;
    box-sizing: inherit;
}

.user-interactions{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.link-list{
    list-style: none;
}

.link-list-item{
    position:relative;
    box-sizing: inherit;
    margin-right: 20px;
}

.user-interactions-quick{
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 32px;

}

.user-interactions-quick-link{
    color:#b8c5d0;
    position: relative;
    margin-right: 20px;

}

.user-interactions-profile{
    padding-left: 20px;
    padding-right: 10px;
    height: 64px;
    position: relative;
    padding:0 20px;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    box-shadow: 0 3px 23px rgb(80 134 255 / 0%);
    transition: 250ms;
    width: 22px;
    height: 22px;

}

.user-interactions-profile-menu{
    display: block;
    position: absolute;
    top:100%;
    right:0;
    width:150px;
    height:0;
    opacity: 0;
    overflow: hidden;
    background-color:#1a2127;
    transition: opacity 250ms;
    box-shadow: 0 4px 12px rgb(0 0 0 / 30%);
}