.sitebar{
    height:64px;
    position:static;
    background-color:black;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color:rgb(27,154,240);
    box-shadow:0 3px 6px rgb(0 0 0 / 25%);
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:45.5px;
    margin-right:45.5px;
    height:64px;
    width:1291px;
    font-size: 13px;
    font-family: Roboto,Helvetica,sans-serif;
}

.site-bar{
    display:inline-block;
    height:64px !important;
    width: 1200px;
}

.logo-image{
    height: 64px !important;
    width: 125px !important;
    display: block;
    padding-top: 12px;
    margin:0px !important;
    box-sizing: border-box;
}

.topbar-interactions-groups{
    display:inline-block;
    height:64px;
    padding-left: 10px;
    display: flex;
}  

.search1{
    display:flex;
}

.icon1{
    background-size: 24;
    display: inline-block;
    background-position: center;
    color:grey;
}

.form-control{
    border: none;
}

.links{
    display:block;
    box-sizing: inherit;
}

.links-list{
    align-items: center;
    padding: 0 20px;
    box-sizing: inherit;
}

.link-item{
    box-sizing: inherit;
    margin-left:20px;
}

.fa{
    width:18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: center center transparent no-repeat;
    background-size: 18px;
}

.user{
    border-left: 1px solid #262629;
    box-sizing: inherit;
}

.user-interactions{
    align-items: center;
}

.user-interactions-quick{
    padding-left: 20px;
    align-items: center;
    height: 32px;

}

.user-interactions-quick-link{
    color:#b8c5d0;
    position: relative;
    margin-right: 20px;

}

.user-interactions-profile{
    padding-left: 20px;
    padding-right: 10px;
    height: 64px;
    position: relative;
    padding:0 20px;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    box-shadow: 0 3px 23px rgb(80 134 255 / 0%);
    transition: 250ms;
    width: 22px;
    height: 22px;

}

.user-interactions-profile-menu{
    display: block;
    position: absolute;
    top:100%;
    right:0;
    width:150px;
    height:0;
    opacity: 0;
    overflow: hidden;
    background-color:#1a2127;
    transition: opacity 250ms;
    box-shadow: 0 4px 12px rgb(0 0 0 / 30%);
}