<nav class="navbar navbar-expand-lg" style="background-color: black;">
  <div class="container-fluid" style= "border-bottom: #1b9af0" style="justify-content: space-between;" style="align-items: center;" style="max-width: 1200;">
    <a class="logo" href="#">
      <img src="/assets/dnd-beyond-logo.svg" alt="" width="150" height="40" style= "border: 0" style="margin: 0" style="padding-left: 10px;">
    </a>
    <div class="interactions-group" style="max-width: 1200px;" style="margin: 0 auto" style="padding-left: 10px;">
      <div class= "interactions-group interactions-group-search" style="max-width: 1200px;" style="margin: 0 auto" style="padding-left: 10px;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="outline: 0">
          <form class="d-flex">
            <button class="btn" type="submit"><img src="/assets/search-grey.svg" alt="" width="25" height="25"></button>
            <input class="form-control form-control-dark" style= "font-size: large;" style= "margin: 0 20;" style= "background-color: black;" font-family= "Helvetica" color="search-grey" type="search" placeholder="Search Everything..." aria-label="Search Everything...">
         </form>
       </div>
     </div>
     <div class= "interactions-group interactions-group-media" style="min-width: 1024;">
        <ul class= "media-list" style= "align-items: center" style= "padding: 0 20" style="display: align-center">
           <a class= "media-link" title= "Discord" href= "https://discord.gg/QXvBhpyqdg">
              <img src="/assets/discord.svg">
            </a>
            <a class= "media-link" title= "Twitter" href= "https://www.reddit.com/r/StupidTwitter/" style="margin-left: 20px">
              <img src="/assets/twitter.svg">
           </a>
            <a class= "media-link" title= "Facebook" href= "https://www.facebook.com/wvustatler/photos/as-we-approach-the-start-of-classes-dean-mago-reminds-us-why-its-important-that-/10157592571766846/" style="margin-left: 20px">
             <img src="/assets/facebook.svg">
            </a>
            <a class= "media-link" title= "Youtube" href= "https://www.youtube.com/watch?v=HlXMk1K3Nv8" style="margin-left: 20px">
             <img src="/assets/youtube.svg">
           </a>
           <a class= "media-link" title= "Twitch" href= "https://www.twitch.tv/directory/game/Minecraft" style="margin-left: 20px">
             <img src="/assets/twitch.svg">
           </a>
       </ul>
      </div>
      <div class= "interactions-group interactions-group-profile" style= "border-left: 1px solid #262629" style= "border-right: #262629" style="min-width: 1024;">
       <div class= "user-interactions">
         <div class= "user-list-quick" style= "padding-left: 20">
           <a class= "user-link" title= "Changelog" href= "https://www.dndbeyond.com/changelog" style= "vertical-align: middle" style= "margin-right: 20" style= "width: 18" style= "height: 18">
              <img src="/assets/changelog.svg">
           </a>
           <a class= "user-link" title= "Notifications" href= "https://discord.gg/QXvBhpyqdg" style= "margin-right: 20">
              <img src="/assets/bell-fill.svg">
            </a>
            <a class= "user-link" title= "Private Messages" href= "https://www.dndbeyond.com/private-messages" style= "margin-right: 20">
             <img src="/assets/chat.svg">
            </a>
          </div>
          <div class="user-interactions-profile">
           <div class="user-interactions-profile-preview">
            
             </div>
           <ul class="user-interactions-profile-menu">
              <li class="user-interactions-profile-menu-item"></li>
              <li class="user-interactions-profile-menu-item"></li>
              <li class="user-interactions-profile-menu-item"></li>
             <li class="user-interactions-profile-menu-item"></li>
             <li class="user-interactions-profile-menu-item"></li>
              <li class="user-interactions-profile-menu-item"></li>
              <li class="user-interactions-profile-menu-item user-interactions-profile-menu-item--subscribe"></li>
             <li class="user-interactions-profile-menu-item"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="main" role="banner">
    <!--hl id="logo">
      <a class="logo" href="https://www.dndbeyond.com/">D&D Beyond</a>
      <div class="print-logo">
        <img src="https://media-waterdeep.cursecdn.com/attachments/3/308/ddbb-w.png" alt="D&D Beyond">
      </div>
    </hl-->
    <nav class="main p-nav p-nav-a j-sticky" role="navigation">
      <ul class="b-list b-list-a">
        <li id="nav-collections" class=" section b-list-item p-nav-item">
          <a href="https://www.dndbeyond.com/collections" class>
            <span class="b-list-label">Collections</span>
          </a>
          <ul class>
            
          </ul>
        </li>
        <li id="nav-game-rules" class=" section b-list-item p-nav-item"></li>
        <li id="nav-sources" class=" section b-list-item p-nav-item"></li>
        <li id="nav-tools" class=" section b-list-item p-nav-item"></li>
        <li id="nav-marketplace" class=" section b-list-item p-nav-item"></li>
        <li id="nav-media" class=" section b-list-item p-nav-item"></li>
        <li id="nav-forums" class=" b-list-item p-nav-item"></li>
        <li id="nav-new-player-guide" class=" b-list-item p-nav-item"></li>
        <li id="nav-subscribe" class=" b-list-item p-nav-item"></li>
      </ul>
      <a data-ga-click-event-tracking-category="Desktop View" id="responsive-topnav-button" class="rs-link rs-link-to-desktop">Desktop View</a>
    </nav>
  </header>
  <div id="mega-menu-target">
    <div class="mm-mega-menu">
      <nav class="mm-navbar">
        <div class="mm-navbar__container">
          <ul class="mm-navbar__menu-list">
            <li class="mm-nav-item">
              <span tableindex="0" class="mm-nav-item__label mm-nav-item__label--has-content" role="button">
                "Collections"
                ::after
              </span>
            </li>
            <li class="mm-nav-item">
              <span tableindex="0" class="mm-nav-item__label mm-nav-item__label--has-content" role="button">
                "Game Rules"
                ::after
              </span>
            </li>
            <li class="mm-nav-item">
              <span tableindex="0" class="mm-nav-item__label mm-nav-item__label--has-content" role="button">
                "Sources"
                ::after
              </span>
            </li>
            <li class="mm-nav-item">
              <span tableindex="0" class="mm-nav-item__label mm-nav-item__label--has-content" role="button">
                "Tools"
                ::after
              </span>
            </li>
            <li class="mm-nav-item">
              <span tableindex="0" class="mm-nav-item__label mm-nav-item__label--has-content" role="button">
                "Marketplace"
                ::after
              </span>
            </li>
            <li class="mm-nav-item">
              <span tableindex="0" class="mm-nav-item__label mm-nav-item__label--has-content" role="button">
                "Media"
                ::after
              </span>
            </li>
            <li class="mm-nav-item">
              <a href="https://www.reddit.com/r/DungeonsAndDragons/" class="mm-nav-item__label mm-nav-item__label--link" role="link">Forums</a>
            </li>
            <li class="mm-nav-item">
              <a href="https://dnd.wizards.com/basics-play" class="mm-nav-item__label mm-nav-item__label--link" role="link">New Player Guide</a>
            </li>
            <li class="mm-nav-item">
              <a href="https://4horsemencomics.com/collections/dungeons-and-dragons" class="mm-nav-item__label mm-nav-item__label--link" role="link">Subscribe</a>
            </li>
            <li class="toggle-party-time-wrapper" aria-hidden="true">
              <button class="toggle-party-time mm-nav-item__label mm-nav-item__label--link" type="button" aria-hidden="true" tabindex="-1" title="I didn't see this at first and I've used this site for years">
                <img src="https://media.dndbeyond.com/mega-menu/5188e9cd133362e349708cd3c859a6d2.gif" alt>
              </button>
            </li>
          </ul>
          <div class="mm-navbar__menu-body"></div>
        </div>
      </nav>
    </div>
  </div>
</nav>