<div class = "container">
    <div class = "main content-container">
        <section class = "primary-content">
            <div class = "character-builder-inner">
                <div class = "builder-page">
                    <div class = "builder-page-header">Character Creation Method</div>
                    <div class = "builder-type">
                        <p class = "builder-type-instructions">Choose one of three ways to create your character</p>
                        <div class = "builder-type-choice">
                            <div class = "builder-type-choice-list">
                                <div class = "builder-type-choice-item">
                                    <a></a>
                                </div>
                                <div class = "builder-type-choice-item">
                                    <a></a>
                                </div>
                                <div class = "builder-type-choice-item">
                                    <a></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>