<header>
    <a class = "box">New Message</a>
    <a class = "box">Create New Folder</a>
    <form class="b-search b-search-a" method="get" action="/private-messages" novalidate="novalidate">                                                                 
        <input type="search" value="" placeholder="Search" name="search" class="b-search-input">	            
        <input type="submit" class="b-search-submit" value="Search">                                                                           
    </form>
</header>